:root {
  color-scheme: dark;
  --navigation-bar-color: #000000;
  --background-color: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

html {
  background-color: var(--background-color);
  color-scheme: dark;
}

body {
  background-color: var(--background-color);
  color-scheme: dark;
  min-height: 100vh;
  margin: 0;
} 